{% extends 'base.html.twig' %}
{% block title%} Liste des Produit par Catégorie{% endblock %}

{% block body %}
{{ form_start(form) }}

<div class="form-row align-items-end" >
 <div class="col"><br>
  <a href="{{ path('SearchIndex') }}" class="btn btn-outline-primary">Retour</a> 
 <br><br>
<a href="{{ path('produit_par_prix') }}" class="btn btn-outline-warning">Recherche Par Prix</a> 
<a href="{{ path('recherche_list') }}" class="btn btn-outline-danger">Rechercher Par Nom</a>
<br><br>
   {{ form_row(form.category, {'label': 'Category','attr': {'placeholder': 'category','class': 'form-control'}}) }}
 </div>

  <div class="col">

   <div class="form-group">
      <button type="submit" class="btn btn-success">Rechercher</button>
    </div>
 </div>
</div>
 {{ form_end(form) }}

 {% if produits %}
    <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix</th>
          <th>Catégorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
          <tr>
            <td>{{ produit.nomProd }}</td>
            <td>{{ produit.prix }}</td>
             <td>{{ produit.category.titre }}</td>
           <td>
              <a href="/article/{{ produit.id }}" class="btn btn-primary">Détails</a>
              <a href="/article/edit/{{ produit.id }}" class="btn btn-warning">Modifier</a>
              <a href="/article/delete/{{ produit.id }}" class="btn btn-danger" 
              onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun articles</p>
  {% endif %} 
{% endblock %}