{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

<h2>Recherche Par Nom de Produit</h2>
{{ form_start(form) }}

<div class="form-row align-items-end">
<div class="col"><br>
<a href="{{ path('SearchIndex') }}" class="btn btn-outline-primary">Retour</a> 
 <br><br>
<a href="{{ path('produit_par_prix') }}" class="btn btn-outline-warning">Recherche Par Prix</a> 
<a href="{{ path('produit_par_cat') }}" class="btn btn-outline-danger">Rechercher Par Catégorie</a>
<br><br>
{{ form_row(form.nomProd, {'label': 'Saisir le Nom de Produit :','attr': {'placeholder': 'Nom Produit','class': 'form-control'}}) }}
</div><br><br>
<div class="col">
<div class="form-group">
<button type="submit" class="btn btn-outline-success">Rechercher</button>
 
</div>
</div>
</div>
<br><br>
{{ form_end(form) }}
  

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>NomProd</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><img src="{{ produit.image }}" width="200" height="200"/></td>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nomProd }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.category.titre }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
                     <a href="{{ path('produit_delete', {'id': produit.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<hr>
   
{% endblock %}
